<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理店铺</title>
    <link rel="shortcut icon " type="images/x-icon" th:href="@{/images/favicon.ico}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/product.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <style>
        .image {
            width: 100px;
            border-radius: 16px;
        }
    </style>
</head>
<body>
<script th:src="@{/header/header.js}" id="header" th:url="@{/header/}"></script>

<div class="container">
    <table style="margin:0 auto;" class="table table-bordered table-hover">
        <tr>
            <th>店铺名</th>
            <th>店铺分类</th>
            <th>店铺地址</th>
            <th>店铺电话</th>
            <th>店铺图片</th>
            <th>店铺状态</th>
            <th>店铺创建时间</th>
            <th>店铺最后修改时间</th>
            <th>店铺操作</th>
        </tr>
        <tbody th:each="shop:${shops}">
        <tr>
            <td th:text="${shop.shopName}">1</td>
            <td th:text="${shop.shopCategory}">1</td>
            <td th:text="${shop.shopAddress}">1</td>
            <td th:text="${shop.shopPhone}">1</td>
            <td><img style="width: 30%;" th:src="'/Apache/upload/item/user/shop/'+${shop.shopId}+'.jpg'"></td>
            <td th:text="${shop.shopStatus}">1</td>
            <td th:text="${#dates.format(shop.shopCreatetime, 'yyyy-MM-dd HH:mm:ss')}">1</td>
            <td th:text="${#dates.format(shop.shopLastEditTime, 'yyyy-MM-dd HH:mm:ss')}">1</td>
            <td>
                <a th:href="${shop.shopId}">
                    <button class="btn btn-warning">修改</button>
                </a>
                <a th:href="${shop.shopId}">
                    <button class="btn btn-danger deleteBtn">删除</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/footer/footer.js}" id="footer" th:url="@{/footer/}"></script>
<script th:src="@{/js/user.js}"></script>
<script th:src="@{/js/common/jquery.cookie.js}"></script>
</body>
</html>