<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="shortcut icon " type="images/x-icon" th:href="@{/images/favicon.ico}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/product.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
</head>
<body>
<script th:src="@{/header/header.js}" id="header" th:url="@{/header/}"></script>
<div class="container" id="form">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                <span>用户登录</span>
            </div>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <span class="form-group-addon">登录账号</span>
                    <input type="text" class="form-control" autofocus="autofocus" name="userAccount" placeholder="用户名" aria-describedby="username">
                </div>
                <div class="form-group">
                    <span class="form-group-addon">密码</span>
                    <input type="password" class="form-control" name="userPassword" placeholder="密码"
                           aria-describedby="password">
                </div>
                <div class=" text-center" style="margin-top: 20px">
                    <a href="#" id="login" class="btn-lg btn-success">登录</a>
                    <a href="./register" class="btn-lg btn-info">注册</a>
                </div>

            </form>

        </div>
    </div>

</div>
<script th:src="@{/footer/footer.js}" id="footer" th:url="@{/footer/}"></script>
<script>
    $(function () {
        var loginUrl = "./login";
        $('#login').click(function () {
            <!--用户信息-->
            var registerInfo = {};
            registerInfo.userAccount = $("input[name='userAccount']").val();
            registerInfo.userPassword = $("input[name='userPassword']").val();
            var formData = new FormData();
            formData.append('loginInfo', JSON.stringify(registerInfo));
            $.ajax({
                url:loginUrl,
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                cache: false,
                success: function (data) {
                    if (data.success) {
                        window.location="./index";
                    } else {
                        alert(data.message);
                    }
                }
            });
        });
    });
</script>
</body>
</html>